<h1>UserForm</h1>

<form [formGroup]="userForm">
   


</form>

<form action="">
    <label>Name</label>
    <input type="text" formControlName="name">
    <div *ngIf="userForm.get('name')?.touched || userForm.get('name')?.dirty">
        <p  *ngIf="userForm.get('name')?.errors?.['required']">Name is required</p>
        <p *ngIf="userForm.get('name')?.errors?.['minlength']">min 3 chars required</p>
        <p *ngIf="userForm.get('name')?.errors?.['maxlength']">max 3 chars required</p>

    </div>
    <br>
    
    <label>age</label>
    <input type="age" formControlName="age">
    <br>
    <div *ngIf="userForm.get('age')?.touched || userForm.get('age')?.dirty">
        <p  *ngIf="userForm.get('age')?.errors?.['required']">age is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min']">min 0 years required</p>
        <p *ngIf="userForm.get('age')?.errors?.['max']">max 100 years required</p>

    </div>
    
  

    <label for="">Email</label>
    <input type="number" formControlName="email">
    <br>

    <div *ngIf="userForm.get('email')?.touched || userForm.get('email')?.dirty">
        <p  *ngIf="userForm.get('email')?.errors?.['required']">email is required</p>
        <p *ngIf="userForm.get('email')?.errors?.['min']">invalid email format</p>
    </div>


    <label for="">phone</label>
    <input type="number" formControlName="phone">
    <br>
    <div *ngIf="userForm.get('phone')?.touched || userForm.get('phone')?.dirty">
     <p  *ngIf="userForm.get('phone')?.errors?.['required']">phone is required</p>
     <p *ngIf="userForm.get('phone')?.errors?.['min']">invalid phone format</p>
    </div>


    <label>Email</label>
    <input type="email" formControlName="email">
    <br>
    <div *ngIf="userForm.get('age')?.touched || userForm.get('age')?.dirty">
        <p  *ngIf="userForm.get('age')?.errors?.['required']">age is required</p>
        <p *ngIf="userForm.get('age')?.errors?.['min']">min 0 years required</p>
        <p *ngIf="userForm.get('email')?.errors?.['max']">max 100 years required</p>

    </div>

    <div formGroupName="address">
        <label for="">city</label>
        <input type="text" formControlName="city">
        <br>
        <div *ngIf="userForm.get('age')?.touched || userForm.get('age')?.dirty">
            <p  *ngIf="userForm.get('age')?.errors?.['required']">age is required</p>
            <p *ngIf="userForm.get('age')?.errors?.['min']">min 0 years required</p>
            <p *ngIf="userForm.get('email')?.errors?.['max']">max 100 years required</p>
    

        <label for="">pincode</label>
        <input type="number" formControlName="pincode">
        <br>
        <div *ngIf="userForm.get('address')?.touched || userForm.get('pincode')?.dirty">
            <p  *ngIf="userForm.get('address')?.errors?.['required']">pincode is required</p>
            <p *ngIf="userForm.get('address')?.errors?.['min']">min 6 digits required</p>
            <p *ngIf="userForm.get('address')?.errors?.['max']">max 6 digits allowed</p>
    

    </div>

    <button (click)="add()">Add card</button>

    <div formArrayName="cards">
        <div *ngFor="let card of cardsFormArray.controls; let i=index">
            <div formGroupName="{{i}}">

                <label for="">no</label>
                <input type="number" formControlName="no">
                <div *ngIf="cardsFormArray.controls[i]?.get('no')?.touched || cardsFormArray.controls[i]?.dirty">
                    <p *ngIf="cardsFormArray.controls[i]?.get('no')?.errors?.['required']">number is required </p>

                </div>
                <br>


                <label for="">Expiry</label>
                <input type="month" formControlName="expipy">
                <div *ngIf="cardsFormArray.controls[i]?.get('expiry')?.touched ||cardsFormArray.controls[i]?.get('expiry')?.dirty">
                    <p *ngIf="cardsFormArray.controls[i]?.get('expiry')?.errors?.['required']">expipy date is required</p>
                </div>
                <br>



                <label for="">cvv</label>
                <input type="number" formControlName="cvv">
                
                <div  *ngIf="cardsFormArray.controls[i]?.get('cvv')?.touched || cardsFormArray.controls[i]?.get('cvv')?.dirty">
                    <p *ngIf="cardsFormArray.controls[i]?.get('cvv')?.errors?.['required']">cvv is required</p>
                </div>
                <br>
                <button (click)="delete(i)">delete</button>

            </div>
        </div>
    </div>


    <label> student type</label>
    <input type="radio" name="type" formControlName="type" value="dayscholar">
    <label>dayscholar</label>
    <input type="radio" name="type" formControlName="type" value="residential">
    <label>Residential</label>
    <br>

    <div *ngIf="userForm.get('type')?.value=='dayscholar'">
        <label>Bus fee:</label>
        <input type="number" formControlName="busfee">
        <br>
    </div>

    <div *ngIf="userForm.get('type')?.value=='residential'">
        <label>Hostel Fee:</label>
        <input type="number" formControlName="hostelfee">
        <br>
    </div>



    <button (click)="submit()">submit</button>
<form action=""></form>